.temperatures {
    background-color: rgba(96, 104, 104, 0.505);
    padding: 10px;
    width: 100%;
}
.temperatures h1 {
    font-size: 100px;
    margin: 10px;
    padding: 0;
}
.max-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
}
button {
    background-color: rgba(25, 27, 27, 0.749);
    width: 200px;
    height: 70px;
    color: white;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
}